
modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]
deploymentTarget = "cloudrun"

[[deployment.environments]]
name = "production"
branch = "main"
mode = "production"

[[deployment.environments]]
name = "development"
branch = "dev"
mode = "development"

[[ports]]
localPort = 3000
externalPort = 80
